<html>
<head>
<title>LaTeX Color Definitions</title>

<link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print">	
<!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
<link rel="stylesheet" href="css/custom.css">
</head>

<body>

<div class="container showgrid">

<div>

<%= erb('_partials/header.html.erb') %>


<section>
Oh no!  We're sorry you're not pleased, but that's ok.
</section>


<section id="links">
<%= erb('_partials/links.html.erb') %>
</section>


<section id="comments">
Disqus might go here...
</section>


<%= erb('_partials/footer.html.erb') %>

</div>

</div>

</body>

</html>
