

<footer>
<h2>Thank you for visiting!</h2>

<p>
  I hope you were able to find exactly the colors you need for your
  LaTeX documents, and that your documents turn out stylish, elegant
  and beautiful. 
</p>

<p>
  All material licensed Creative Commons with the same restrictions 
  as the Wikipedia page used for generating the source colors.  Basically, 
  do what you want with it, just make sure to link back to 
  <a href="http://en.wikipedia.org/wiki/List_of_colors">Wikipedia list of colors</a> 
  when appropriate, and if you're so inclined, perhaps a link back here as well.
</p>
<p style="font-size: 75%;">
  And just for Google <a href="https://plus.google.com/109975361919530850213" rel="author">+David Doolin</a>...
</p>
</footer>

