
                
<section id="links">

<p>Here's a great page on using 
<a hrec="http://www.tug.org/tutorials/tugindia/chap08-scr.pdf">
color in LaTeX tables</a>.  It's a PDF file, you can save it 
or bookmark it. 
</p>

</section>


