<section id="links" class="innerbox">
  <p>
    Here's a great page on using 
    <a hrec="http://www.tug.org/tutorials/tugindia/chap08-scr.pdf"> color in LaTeX tables</a>.
    It's a PDF file, you can save it or bookmark it.
  </p>
  <a href="http://www.delicious.com/save" onclick="window.open('http://www.delicious.com/save?v=5&noui&jump=close&url='+encodeURIComponent(location.href)+'&title='+encodeURIComponent(document.title), 'delicious','toolbar=no,width=550,height=550'); return false;"> <img src="http://www.delicious.com/static/img/delicious.small.gif" height="10" width="10" alt="Delicious" /> Bookmark this on Delicious</a>
</section>
