


<p>Great day! Welcome to a teeny tiny corner of the 
vast interwebs. My hope is that you find this 
particular corner <em>useful</em>. I got tired of 
hunting down color codes and syntax, saw that there
were a surprising number of searches for "latex color,"
whence the solution seemed obvious.</p>

<!--
<p>If you have a mind, consider keeping me in 
  coffee, just a small donation!
</p>
<div class="paypal-button">
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="AS6TYMBK39HYG">
<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</div>
-->
<p>
  Believe it or not, you can <a href="#comments">leave a comment
  below</a>, courtesy of the fine folks from Disqus.
</p>


<!--
<div class="paypal-button">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="AS6TYMBK39HYG">
<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</div>
-->