<ul class="cf social_links">
  <li id="twitter">
    <a href="http://twitter.com/home?status=Check%20out%20the%20LaTeX%20Color%20-%20http://latexcolor.com" >
      <%= image_tag('twitter.png', :alt => 'Share LaTeXColor on twitter', :title => 'Share LaTeXColor on twitter') %>
    </a>
  </li>
  <li id="facebook">
    <a href="http://www.facebook.com/sharer.php?u=http://latexcolor.com&amp;t=LaTeXColor.com" target="blank">
      <%= image_tag('facebook.png', :alt => "Share LaTeXColor on facebook", :title => "Share LaTeXColor on facebook") %>
    </a>
  </li>
  <li id="linkedin">
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://latexcolor.com&amp;title=Check%20out%20LaTeXColor.com&amp;source=<%= request.url%>">
      <%= image_tag('linkedin.png', :alt => "Share LaTeXColor on LinkedIn", :title => "Share LaTeXColor on LinkedIn") %>
    </a>
  </li>
  <li id="gplus">
    <!-- g:plusone size="small" annotation="none"></g:plusone -->
    <div class="g-plusone" data-size="small" data-count="false"></div>
  </li>
</ul>

